.env
authtextfile

# Ignore Python cache directories
__pycache__/
*.py[cod]
__pycache__
*.pyc

# Ignore virtual environment (optional)
venv/
.env/

databases/auth.db
databases/heart_rate.db

databases/auth.db
databases/heart_ratea.db

.coverage

.expo/
.expo-shared/
OuraRingfinal/frontend/.expo/

.vscode/

.vscode/

node_modules/
OuraRingFinal/frontend/node_modules/
OuraRingFinal\frontend\node_modules\


-------
# Dependencies
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
OuraRingFinal\frontend\node_modules
# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database
*.db
databases/

# macOS
.DS_Store

# Temporary files
*.log
*.swp
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*$py.class